<a href="/">Back to Root</a>
<br>
<br>
<a href="/listings">Get all Coordinates</a>
<p>
  Total Listings: <%= @listings.count %>
</p>



<% @listings.each do |listing| %>
  <ul>
    <li><%= listing.street %></li>
    <li><%= listing.city %>, <%= listing.state %> <%= listing.zip %></li>
    <li><a href="/listings/<%= listing.id %>">Get Coordinates</a></li>
  </ul>

<% end %>
