<a href="/">Back to Root</a>

<p>
  Total Listings: <%= @listings.count %>
</p>

<% count = 0 %>
<% @listings.each do |listing| %>
  <ul>
    <li><%= listing.street %></li>
    <li><%= listing.city %>, <%= listing.state %> <%= listing.zip %></li>
    <li>Coordinates: <%= listing.get_lat_long %></li>
  </ul>

  <% count += 1 %>
  <% if count >= 5 %>
    <% count = 0 %>
    <% sleep(1) %>
  <% end %>
<% end %>
